server:
    port: 8301
    max-http-header-size: 8192
spring:
    application:
        name: manage-system
    profiles:
        active: dev
pagehelper:
    helper-dialect: mysql
    params: count=countSql
    reasonable: false
    support-methods-arguments: true
mybatis:
  type-aliases-package: com.wwmust.manage.system.model
  mapper-locations: classpath*:com/wwmust/manage/system/mapper/*.xml
login:
    interceptor:
          register: true
## logging config
logging:
  level:
    ROOT: debug
    org.springfromework.web: INFO
    com.wwmust: debug
    org.hibernate: ERROR
  pattern:
    console: '%clr(%d{HH:mm:ss}){yellow} [%clr(%thread){red}] %-5level --- %clr(%logger){green} | %msg%n'
#redis
  redis:
    host: 127.0.0.1
    port: 6379
    timeout: 3000