<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwmust.manage.system..dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.wwmust.manage.system.model.Article" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="article_id" property="articleId" jdbcType="BIGINT" />
    <result column="category_id" property="categoryId" jdbcType="BIGINT" />
    <result column="skin_id" property="skinId" jdbcType="BIGINT" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="topic_id" property="topicId" jdbcType="BIGINT" />
    <result column="is_default" property="isDefault" jdbcType="VARCHAR" />
    <result column="is_hot" property="isHot" jdbcType="VARCHAR" />
    <result column="is_sensitive" property="isSensitive" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="is_public" property="isPublic" jdbcType="VARCHAR" />
    <result column="is_draft" property="isDraft" jdbcType="VARCHAR" />
    <result column="article_title" property="articleTitle" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="is_audit" property="isAudit" jdbcType="VARCHAR" />
    <result column="page_view_num" property="pageViewNum" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wwmust.manage.system.model.Article" extends="BaseResultMap" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="article_content" property="articleContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    article_id, category_id, skin_id, create_user, create_time, update_user, update_time, 
    topic_id, is_default, is_hot, is_sensitive, longitude, latitude, is_public, is_draft, 
    article_title, source, is_audit, page_view_num
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    article_content
  </sql>
</mapper>