<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwmust.manage.system..dao.ArticleDWetailMapper" >
  <resultMap id="BaseResultMap" type="com.wwmust.manage.system.model.ArticleDWetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="article_detail_id" property="articleDetailId" jdbcType="BIGINT" />
    <result column="approval_num" property="approvalNum" jdbcType="INTEGER" />
    <result column="oppose_num" property="opposeNum" jdbcType="INTEGER" />
    <result column="collect_num" property="collectNum" jdbcType="INTEGER" />
    <result column="view_num" property="viewNum" jdbcType="INTEGER" />
    <result column="attention_num" property="attentionNum" jdbcType="INTEGER" />
    <result column="article_id" property="articleId" jdbcType="BIGINT" />
  </resultMap>
</mapper>